{% extends '@project/base/public/layout.twig' %}

{% block content %}
    <div class="alert alert-danger text-center">
        <h4 class="alert-heading">Váš účet byl zablokován!</h4>
        <p>Porušil jste podmínky používání tohoto webu. Z tohoto důvodu jsme byli nuceni zablokovat Váš uživatelský účet. Pro více informací neváhejte kontaktovat naší podporu.</p>
    </div>
{% endblock %}
